.banner {
  background-image: url('../../images/image.jpg'); 
  background-size: cover;
  background-position: center;
  height: 400px; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.banner-content {
  text-align: center;
}

.banner-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}