.search-bar {
  /* Styling the search bar container */
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  width: 95%;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.search-bar input,
.search-bar select {
  /* Styling inputs and dropdown */
  border: 1px solid #ccc;
  padding: 8px;
  margin-right: 5px;
  border-radius: 5px;
  appearance: none; /* Remove default styling for consistency */
  flex-basis: calc(25% - 10px); /* Adjust width proportionally */
  box-sizing: border-box;
}

.search-bar .search-button {
  /* Styling the search button */
  background-color: #ff4500;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  position: static;
  height: auto;
  width: auto;
  transform: none; /* Remove transformations */
}

@media (max-width: 768px) {
  .search-bar {
    /* Adjust search bar for smaller screens */
    flex-direction: column;
    align-items: stretch;
  }

  .search-bar input,
  .search-bar select {
    margin-right: 0;
    margin-bottom: 5px;
    flex-basis: 100%; /* Full width for smaller screens */
  }

  .search-bar .search-button {
    /* Make the search button fit smaller screens */
    position: static;
    transform: none;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
  }
}
