.coming-soon {
    /* Flex container for center alignment */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh; /* Vertical height */
    font-family: Arial, sans-serif;
    text-align: center; /* Centered text */
}

.coming-soon h1 {
    /* Heading styling */
    font-size: 3rem;
    color: #222;
    margin-bottom: 10px;
}

.coming-soon p {
    /* Paragraph styling */
    font-size: 1.2rem;
    color: #555;
}
